<h1>GENERAL TUTORIAL</h1>

<div>

  <p>
    What we are trying to achieve here is known as "Bonus Abuse".
    In order to try and hook people into losing money against them
    at these addictive flashing lights casinos offer welcome bonuses
    to new customers.
  </p>

  <p>
    This could be something like <ul>Deposit £100 and we will match your deposit with another £100 *termsandconditionsapply</ul>
    In these terms and conditions they will tell you that in order to cash this money out that you have to wager some kind of multiple
    of this (usually 40x), the edge that casino games have over you means
    that this money is effectively worthless - as long as you follow
    the terms and conditions of the bonus.
  </p>

  <p>
    There exist some slot machines that can be "primed" by playing strategically. By using these techniques
    you can set yourself up so that when you lose your money and the bonus money that they have given you, that
    you will be able to guaruntee yourself a win on your next cash deposit - and because we have lost all of the
    bonus money we are no longer bound by the wagering requirement and we can withdraw our money.
  </p>

</div>

<div>


  <h2>THE RISKS</h2>
    <p>
    In order to profitably exploit these casinos you must understand that these techniques will not guarantee
    that you will win, but will stack the odds greatly in your favour. The casinos themselves do not take kindly
    to being exploited and they have teams of people that are trying to catch this kind of thing. They are often
    within their rights to not pay you, which may happen and you can just get unlucky in your spins for that day.

    We suggest a bankroll of around £3000 to get started and really have enough of a buffer to absorb any losses
    that you may suffer - please follow our advice exactly to maximise your chances of winning.

    </p>

    <p>
    WAYS YOU CAN LOSE
    <ul>
      <li>CASINO CATCHES YOU</i>
      <li>SLOT MACHINE BEATS YOU</li>
    </ul>
    </p>
</div>

<div>
  <h2>HOW TO USE THIS APP</h2>
    <p>
    Once you have made an account and read the general tutorials, head on over to the first time tutorial,
    once you are finished there you will be able to log your PNL, and get another tutorial. You can keep
    track of all of your profits and losses here and we will keep giving you more tutorials (as long as you
    pay us or clock affiliate links)
    </p>
</div>
