<h1>GAME TUTORIAL</h1>
<div>
  <h2>{NAME}</h2>
  {HTML FROM www.slotcatalog.com}
  <p>{TUTORIAL TEXT}</p>
</div>



<h1>CASINO TUTORIAL</h1>
  <div>
    <h2>NAME</h2>
      <table style=width:100%>
        <tr>
          <th>BONUS AMOUNT</th>
          <th>{AMOUNT}</th>
        </tr>
        <tr>
          <th>BONUS PERCENTAGE</th>
          <th>{PERCENTAGE}</th>
        </tr>
        <tr>
          <th>GAMES</th>
          <th>{LIST OF GAMES}</th>
        </tr>
        <tr>
          <th>BONUS CODE</th>
          <th>{CODE}</th>
        </tr>
      </table>
      <div>
        <a href={AFFILIATELINK}><p>CLICK HERE</p><img src=LOGOURL></img></a>
      </div>

      <p>{TUTORIAL TEXT}</p>
    </div>
